{% extends "base.html" %}
{% load staticfiles %}
{% load custom_filters %}


{% block localcss %}
    <link href="{% static 'intelligence/css/intelligence.css' %}"
          rel="stylesheet" media="screen">
{% endblock %}

{% block localjs %}
    <script src="{% static 'glance/js/glance.js' %}"></script>
    <script>

$(document).ready(function () {
    var gnd = goldstone.glance.discover
    gnd.start = goldstone.time.fromPyTs({{ start_ts|to_js }})
    gnd.end = goldstone.time.fromPyTs({{ end_ts|to_js }})
    // TODO remove interval.  I don't think it is relevant here.
    gnd.interval = {{ interval|to_js }}
})
    </script>

{% endblock %}


{% block content %}
    <!-- <object id="icon-network-svg" data="{% static 'images/icon_network.svg' %}" type="image/svg+xml"> -->

    <div id="glance-discover-r1" class="row">
        <div id="glance-discover-r1-c1" class="col-md-8"></div>
        <div id="glance-discover-r1-c2" class="col-md-4"></div>
    </div>
    <div id="glance-discover-r2" class="row">
        <div id="glance-discover-r2-c1" class="col-md-6"></div>
        <div id="glance-discover-r2-c2" class="col-md-6"></div>
    </div>

{% endblock %}






