*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
.eggs
dist
build
eggs

parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt
cache/pip

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
coverage.xml
htmlcov/
reports/

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# SQLdatabases
#
db.sqlite3
db.sqlite3.dev

# Ruby
#
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
#
.yardoc
_yardoc


# OSX
#
.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
#
._*

# Files that might appear on external disk
#
.Spotlight-V100
.Trashes


# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
# [Bb]in
[Ii]nclude
[Ll]ib
[Ss]cripts


# Rails
#
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
.ropeproject

# JetBrains
/.idea/
atlassian-ide-plugin.xml
goldstone/.idea/

celerybeat-schedule

# local settings
goldstone/settings/.secret_key_store
celerybeat-schedule.db
dump.rdb
bower_components/
node_modules/

# vagrant related
.vagrant/*

# Emacs backup files, TAGS
*.*~
\#*.*\#
TAGS

# mkdocs site
docs/site/

# addon modules
goldstone/static/addons/
addon-requirements.txt
addons/

# docker static data
docker/Dockerfiles/goldstone-app/goldstone-server/
docker/Dockerfiles/goldstone-app-e/goldstone-server/
docker/Dockerfiles/goldstone-task/goldstone-server/
docker/Dockerfiles/goldstone-web/static/
docker/Dockerfiles/goldstone-web-e/static/

# docker dev environment data
.cache/
.cinderclient/
.novaclient/
.bashrc
.bash_history
.exrc
.pylint.d/
static/
