*.py[cod]
.ipython/

# Packages
*.egg
*.egg-info
.eggs
dist
build
eggs

parts
sdist
develop-eggs
.installed.cfg
/var
/lib
/lib64

# Installer logs
pip-log.txt
cache/pip

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
coverage.xml
htmlcov/
reports/
test/results/

# Translations
*.mo

# SQLdatabases
#
db.sqlite3
db.sqlite3.dev


# OSX
#
.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
#
._*

# Files that might appear on external disk
#
.Spotlight-V100
.Trashes


# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
# [Bb]in
[Ii]nclude
/[Ll]ib
[Ss]cripts


# JetBrains
/.idea/
atlassian-ide-plugin.xml
goldstone/.idea/


# local settings
goldstone/settings/.secret_key_store
celerybeat-schedule
celerybeat-schedule.db
node_modules/

# Emacs backup files, TAGS
*.*~
\#*.*\#
TAGS

# mkdocs site
docs/site/

# addon modules
.gitmodules
desktop/

# docker static data
docker/goldstone-app/goldstone-server/
docker/goldstone-app-e/goldstone-server/
docker/goldstone-task/goldstone-server/
docker/goldstone-web/static/
docker/goldstone-web-e/static/

# docker dev environment data
.cache/
.cinderclient/
.novaclient/
.bashrc
.bash_history
.exrc
.pylint.d/
/static
AUTHORS
ChangeLog

# packaging
rpm_packaging/temp/
rpm_packaging/pkg/
rpm_packaging/.vagrant/

# desktop binary
Goldstone-darwin-x64
