# Copyright 2014 Solinea, Inc.
#
# Licensed under the Solinea Software License Agreement (goldstone),
# Version 1.0 (the "License"); you may not use this file except in compliance
# with the License. You may obtain a copy of the License at:
#
#     http://www.solinea.com/goldstone/LICENSE.pdf
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# Author: Ken Pepple

# This file is here because many Platforms as a Service look for
#        requirements.txt in the root directory of a project.
# requirements/base.txt is linked to it.

Django==1.6.5
South==0.8.4
wsgiref==0.1.2
django-admin-bootstrapped==1.6.4
MySQL-python==1.2.5
django-crispy-forms==1.4.0
django.js==0.8.1
pbr==0.8.0
elasticsearch==1.0.0
pytz==2014.2
pandas==0.13.1
celery[redis]==3.1.10
python-novaclient==2.17.0
python-keystoneclient==0.8.0
python-cinderclient==1.0.9
python-neutronclient==2.3.4
python-glanceclient==0.12.0
urllib3==1.8
lockfile>=0.8
