{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% if lease.id %}
<h1>Edit Lease</h1>
{% else %}
<h1>Add Lease</h1>
{% endif %}


<form action="{{ action }}" method="POST">
  {% csrf_token %}
  <ul>
      {{ form|crispy }}
  </ul>
  <p><a href="{% url "lease-list" %}"><button type="button" class="btn btn-warning">Cancel</button></a>
  {% if lease.id %}
  <a href="{% url "lease-delete" pk=lease.id %}"><button type="button" class="btn btn-danger">Delete</button></a>
  {% endif %}
  <input id="save_lease" type="submit" value="Save" class="btn btn-primary" /></p>
</form>


{% endblock %}

