{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% if lease.id %}
<h1>Edit Lease</h1>
{% else %}
<h1>Add Lease</h1>
{% endif %}


<form action="{{ action }}" method="POST">
  {% csrf_token %}
  <ul>
      {{ form|crispy }}
  </ul>
  <input id="save_lease" type="submit" value="Save" class="" />
</form>

{% if lease.id %}
<p><a href="{% url "lease-delete" pk=lease.id %}">Delete</a></p>
{% endif %}

<p><a href="{% url "lease-list" %}">back to list</a></p>
{% endblock %}

