{% extends "/core/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% if lease.id %}
<h1><span class="fa-stack fa-lg">
  <i class="fa fa-calendar fa-stack-1x text-warning"></i>
</span>Edit Lease</h1>
{% else %}
<h1><span class="fa-stack fa-lg">
  <i class="fa fa-calendar fa-stack-1x text-primary"></i>
</span>Add Lease</h1>
{% endif %}


<form action="{{ action }}" method="POST">
  {% csrf_token %}
  <ul>
      {{ form|crispy }}
      <p><a href="{% url "lease-list" %}"><button type="button" class="btn btn-warning">Cancel</button></a>
      <input id="save_lease" type="submit" value="Save" class="btn btn-primary" /></p>
  </ul>
</form>


{% endblock %}

