{% extends "djangojs/qunit-runner.html" %}
{% load js %}
{% block js_init %}
    {{ block.super }}
{% endblock %}

{% block js_content %}
    {% js 'dataTables/jquery.dataTables.js' %}
    {% js 'dataTables/dataTables.bootstrap.js' %}
    {% js 'intelligence/js/fnSetFilteringDelay.js' %}
    {% js 'intelligence/js/fnReloadAjax.js' %}
    {% js 'js/plugins/datetimepicker/jquery.datetimepicker.js' %}
    {% js 'js/d3.js' %}
    {% js 'js/crossfilter.js' %}
    {% js 'js/dc.js' %}
    {% js 'intelligence/js/intelligence.js' %}
{% endblock %}

{% block body_content %}
    <div id="transientElements"></div>
{% endblock %}