/*
 Table Of Contents

 1.) Login
 2.) Dashboard
 3.) Colors
 ===============================================*/


/*
 1.) Login
 ----------------------------------------*/

html {
    position: relative;
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
    min-width: 520px;
}

.login-page {
    background: url(../../../images/background.jpg) no-repeat left top;
    background-size: cover;
}

.login-alternate {
    background: url(../../../images/background1.jpg) no-repeat left top;
    background-size: cover;
}

.login-secondary-alt {
    background: url(../../../images/background2.jpg) no-repeat left top;
    background-size: cover;
}

.login-page,
.login-alternate,
.login-secondary-alt {
    overflow: hidden;
}

.login-area {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.logo-large {
    height: 56px;
    width: 200px;
    background: url(../../../images/logo-large.png);
    display: block;
    margin: 0 auto 44px;
}

.login-form {
    padding: 0 10.5%;
    input {
        display: block;
        background: none;
        border: 0;
        border-bottom: 1px solid #fff;
        box-shadow: none;
        width: 100%;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        padding-bottom: 6px;
        -webkit-appearance: none;
        border-radius: 0;
        &:first-child {
            margin-bottom: 41px;
        }
        &[type='password'] {
            margin-bottom: 27px;
        }
    }
}

.chkbox {
    margin-left: 4px;
    padding-left: 30px;
    position: relative;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-bottom: 22px;
    font-weight: 400;
    input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        right: 120px;
        /*display:none; changed to opacity to allow for tab focus*/
    }
}

.chk-lab {
    height: 18px;
    width: 18px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    border: 2px solid #fff;
    border-radius: 2px;
    cursor: pointer;
}

.chkbox input[type="checkbox"]:checked + .chk-lab:after {
    content: '\2713';
    position: absolute;
    top: -20%;
    left: 9%;
}

.full-width-btn {
    font-size: 14px;
    color: #2c80ab;
    text-align: center;
    line-height: 36px;
    background: #fff;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    border: 0;
    border-radius: 2px;
    text-transform: uppercase;
    &:focus {
        background-color: rgba(255, 255, 255, 0.54);
    }
}

.login-form .full-width-btn {
    margin-bottom: 15px;
}

.reset-pw {
    font-size: 14px;
    color: #fff;
    display: block;
    text-align: center;
}

.no-gutter {
    padding-left: 0;
    padding-right: 0;
}


/*
 2.) Dashboard
 ----------------------------------------*/

.dashboard {
    background: #eeeeee;
    .content {
        padding-top: 20px;
        margin-bottom: 40px;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        margin-left: 64px;
        &.open {
            margin-left: 180px;
        }
    }
    h3 {
        font-size: 24px;
        color: #424242;
        margin: 0 -0.5em 5px;
        border-radius: 8px 8px 0 0;
    }
}

h3.popover-title {
    margin: 0 0 5px;
}

.setting-btn {
    display: inline-block;
    height: 24px;
    width: 14px;
    background: url(../../../images/icon-settings.png) no-repeat left 8px;
    cursor: pointer;
    margin: 0.3em 0 0 0.3em;
}

.single-block {
    width: 30.76%;
    float: left;
}

.service-status-table {
    list-style-type: none;
    margin: 0;
    padding: 0 0 5px;
    background: #fafafa;
    height: 400px;
    overflow: auto;
    li {
        padding: 1.56em 15px;
        overflow: hidden;
        border-bottom: 1px solid #f3f3f3;
        &:last-child {
            border-bottom: 0;
        }
    }
    .table-header {
        font-size: 16px;
        color: #ffffff;
        background: #424242;
    }
    .host {
        width: 35%;
        float: left;
    }
    .service {
        width: 33%;
        float: left;
    }
    .service-status {
        width: auto;
        float: left;
        margin-left: 6%;
    }
}

.online {
    background: url(../../../images/icon-online@2x.png) no-repeat left top;
}

.offline {
    background: url(../../../images/icon-offline@2x.png) no-repeat left top;
}

.intermittent {
    background: url(../../../images/icon-intermittent@2x.png) no-repeat left top;
}

.unknown {
    background: url(../../../images/icon-help-40x40.png) no-repeat left top;
}

.online,
.offline,
.intermittent,
.unknown {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-size: 20px 20px;
    border-radius: 50%;
    margin-left: 12px;
}

.service-status {
    margin-right: 2.4%;
}

.double-block {
    float: left;
    width: 64.3%;
}

.map-block {
    height: 400px;
    overflow: hidden;
    background: #000;
}

.map {
    width: 78%;
    float: left;
    img {
        max-width: 100%;
    }
}

.map-data {
    width: 15%;
    float: left;
    padding: 18px 16px;
    .stats {
        font-size: 12px;
        display: block;
        line-height: 1;
    }
}

.stats {
    .count {
        display: block;
        margin-bottom: 8px;
    }
    &.time {
        color: #fff;
        margin-bottom: 18px;
        .count {
            margin-bottom: 8px;
        }
    }
    &.logs {
        color: #2c80ab;
        margin-bottom: 49px;
    }
    &.events {
        color: #1d9ca5;
        margin-bottom: 40px;
    }
    &.call {
        color: #8159b3;
        margin-bottom: 5px;
    }
}

.dashboard{
    .first-row.row {
        margin-bottom: 37px;
    }
    .first-row h3 {
        margin-bottom: 10px;
    }
    .second-row.row {
        margin-bottom: 22px;
    }
}

.header-block h4 {
    margin-top: 0;
    font-size: 16px;
    color: #424242;
    margin-bottom: 36px;
}

.node-block {
    padding: 18px 18px 0;
    background: #fafafa;
}

.node {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #eee;
    border: 2px solid #fafafa;
    float: left;
    margin-bottom: 21px;
    margin-right: 7.1%;
    cursor: pointer;
    &:hover {
        border-color: #000;
    }
    &:nth-child(9n) {
        margin-right: 0;
    }
}

.node-list {
    padding: 0;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}

.sidebar {
    position: absolute;
    left: 0;
    top: 64px;
    height: 100%;
    background: #ffffff;
    /*width:64px;
    transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;*/
    z-index: 9999;
    &.expand-menu {
        width: inherit;
    }
}

.btn-grp {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
    width: 64px;
    z-index: 99;
    float: left;
    background: #fff;
    position: relative;
    height: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    a {
        text-decoration: none;
        color: #333;
    }
}

a.logo-header {
    text-decoration: none;
}

.sidebar.expand-menu .btn-grp {
    width: 180px;
}

.dashboard .content {
    position: relative;
    left: 0;
    /*transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;*/
}

.sidebar.open {
    width: inherit !important;
}

.btn-grp li {
    border-left: 4px solid transparent;
    height: 48px;
    white-space: normal;
    cursor: pointer;
    .btn-txt {
        opacity: 0;
    }
}

.sidebar.expand-menu .btn-grp li .btn-txt {
    opacity: 1;
    transition:opacity 300ms;
    transition-delay: 300ms;
}

.btn-grp {
    li {
        &.active-page {
            border-color: #1c9ca4 !important;
        }
        &:hover {
            border-color: #eeeeee;
            span {
                color: #1c9ca4;
            }
        }
        &.active {
            background: #4f376e;
            &:hover {
                border-left-color: #4f376e;
            }
            span {
                color: #fff;
            }
        }
        &.diff {
            border-top: 1px solid #f8f8f8;
            border-bottom: 1px solid #f8f8f8;
            height: auto;
            margin-top: 7px;
            margin-bottom: 8px;
            &.active {
                border-left-color: #4f376e;
            }
            .icon {
                margin-bottom: 8px;
                margin-top: 7px;
            }
        }
    }
    .alerts-tab.alert-active{
        background: #d50612;
    }
    .icon {
        height: 20px;
        width: 20px;
    }
}

.dashboard-icon {
    background: url(../../../images/icon-dashboard-active.png) no-repeat center center;
}

.alerts {
    background: url(../../../images/icon-notifications.png) no-repeat center center;
}

.btn-grp li:hover .alerts {
    background-image: url(../../../images/icon-notifications-active.png);
}

.btn-grp li.active .alerts {
    background-image: url(../../../images/icon-notifications-active1.png);
}

.metrics {
    background: url(../../../images/icon-metrics.png) no-repeat center center;
}

.btn-grp li:hover .metrics {
    background-image: url(../../../images/icon-metrics-active.png);
}

.btn-grp li.active .metrics {
    background-image: url(../../../images/icon-metrics-active1.png);
}

.reports {
    background: url(../../../images/icon-reports.png) no-repeat center center;
}

.btn-grp li:hover .reports {
    background-image: url(../../../images/icon-reports-active.png);
}

.btn-grp li.active .reports {
    background-image: url(../../../images/icon-reports-active1.png);
}

.topology {
    background: url(../../../images/icon-topology.png) no-repeat center center;
}

.btn-grp li:hover .topology {
    background-image: url(../../../images/icon-topology-active.png);
}

.btn-grp li.active .topology {
    background-image: url(../../../images/icon-topology-active1.png);
}

.setting-btn-icon {
    background: url(../../../images/icon-chart-settings.png) no-repeat center center;
}

.btn-grp li:hover .setting-btn-icon {
    background-image: url(../../../images/icon-chart-settings-active.png);
}

.btn-grp li.active .setting-btn-icon {
    background-image: url(../../../images/icon-chart-settings-active1.png);
}

.expand {
    background: url(../../../images/icon-expand.png) no-repeat center center;

}

.expand.open {
    background: url(../../../images/icon-collapse.png) no-repeat center center;
}

.full-map img {
    width: 100%;
}

.sidebar.expand-menu .tooltip {
    display: none !important;
}

.tooltip-arrow {
    display: none;
}


/*
disabling overwriting of bootstrap tooltips which
naturally respect vertical placement for Japanese text.

.tooltip-inner {
    height: 30px;
    padding: 0;
    position: absolute;
    left: -6px;
    top: -13px;
    min-width: 58px;
    line-height: 30px;
    background: rgba(0, 0, 0, 0.8);
}
*/

.alert-close {
    position: absolute;
    left: 21em;
    top: 0.1em;
}

.btn-grp .btn-icon-block {
    width: 56px;
    padding: 14px 18px;
    display: inline-block;
}

.sidebar .btn-grp li span {
    font-size: 14px;
}

.sidebar .tab-content {
    float: right;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    position: relative;
    height: 100%;
    width: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    overflow: hidden;
    background: #fafafa;
    &.open {
        width: 336px;
    }
}

.tab-content .header-block {
    font-size: 20px;
    line-height: 48px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    margin: 0;
    background: #4f376e;
}

.subtab .tab-links {
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
}

.list-content {
    height: 88%;
    overflow: auto;
    /* adds spacing after last list item for full scrollability*/
    padding-bottom: 15%
}

.subtab .tab-links li {
    width: 50%;
    background: #4f376e;
    float: left;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    line-height: 48px;
    color: rgba(255, 255, 255, 0.5);
    border-bottom: 4px solid transparent;
    cursor: pointer;
    &.active {
        border-color: #fff;
        color: #fff;
    }
}

.list-content {
    .msg {
        font-size: 14px;
        color: #000;
        display: block;
        margin-bottom: 4px;
        white-space: normal;
    }
    .time {
        font-size: 12px;
        color: #616161;
        display: block;
        white-space: normal;
    }
    li {
        padding: 15px 15px 20px;
        overflow: hidden;
        border-bottom: 1px solid #eee;
        cursor: pointer;
        &:hover {
            background: #fff;
        }
        &:last-child {
            border-bottom: 0;
        }
    }
}

.remove-btn {
    display: inline-block;
    height: 14px;
    width: 14px;
    background: url(../../../images/icon-close.png) no-repeat left top/14px 14px;
    float: right;
    cursor: pointer;
    margin: 5px 6px 0 0;
}

.msg-block {
    width: 90%;
    float: left;
}

.tab-content .tab {
    display: none;
}

.all-tab-content {
    display: none;
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
    opacity: 1 !important;
}

:-moz-placeholder {
    color: rgba(255, 255, 255, 0.7);
}

::-moz-placeholder {
    color: rgba(255, 255, 255, 0.7);
}

:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
}
