/*
 Table Of Contents

 1.) Login
 2.) Dashboard
 3.) Colors
 ===============================================*/


/*
 1.) Login
 ----------------------------------------*/

html {
    position: relative;
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    font-family: 'OpenSans', sans-serif;
    min-width: 520px;
}

.login-page {
    background: url(../../../images/background.jpg) no-repeat left top;
    background-size: cover;
}

.login-alternate {
    background: url(../../../images/background1.jpg) no-repeat left top;
    background-size: cover;
}

.login-secondary-alt {
    background: url(../../../images/background2.jpg) no-repeat left top;
    background-size: cover;
}

.login-page,
.login-alternate,
.login-secondary-alt {
    overflow: hidden;
}

.login-area {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.logo-large {
    height: 56px;
    width: 200px;
    background: url(../../../images/logo-large.png);
    display: block;
    margin: 0 auto 44px;
}

.login-form {
    padding: 0 10.5%;
    input {
        display: block;
        background: none;
        border: 0;
        border-bottom: 1px solid #fff;
        box-shadow: none;
        width: 100%;
        color: #fff;
        font-family: 'OpenSans', sans-serif;
        font-size: 16px;
        padding-bottom: 6px;
        -webkit-appearance: none;
        border-radius: 0;
        &:first-child {
            margin-bottom: 41px;
        }
        &[type='password'] {
            margin-bottom: 27px;
        }
    }
}

.chkbox {
    margin-left: 4px;
    padding-left: 30px;
    position: relative;
    color: #fff;
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    margin-bottom: 22px;
    font-weight: 400;
    input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        right: 120px;
        /*display:none; changed to opacity to allow for tab focus*/
    }
}

.chk-lab {
    height: 18px;
    width: 18px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    border: 2px solid #fff;
    border-radius: 2px;
    cursor: pointer;
}

.chkbox input[type="checkbox"]:checked + .chk-lab:after {
    content: '\2713';
    position: absolute;
    top: -20%;
    left: 9%;
}

.full-width-btn {
    font-size: 14px;
    color: #2c80ab;
    text-align: center;
    line-height: 36px;
    background: #fff;
    width: 100%;
    font-family: 'OpenSans', sans-serif;
    border: 0;
    border-radius: 2px;
    text-transform: uppercase;
    &:focus {
        background-color: rgba(255, 255, 255, 0.54);
    }
}

.login-form .full-width-btn {
    margin-bottom: 15px;
}

.reset-pw {
    font-size: 14px;
    color: #fff;
    display: block;
    text-align: center;
}

/*
 2.) Dashboard
 ----------------------------------------*/

.dashboard {
    background: #eeeeee;
    .container {
        width: 100%;
    }
    .content {
        padding-top: 10px;
        margin-bottom: 40px;
    }
    h3 {
        font-size: 24px;
    }
}

// small grey gear
.setting-btn {
    background-position: left 5px;
    display: inline-block;
    height: 24px;
    width: 14px;
    background: url(../../../images/icon-settings.png) no-repeat left 8px;
    cursor: pointer;
    margin: 0.3em 0 0 0.3em;
}

.service-status-table {
    list-style-type: none;
    margin: 0;
    padding: 0 0 5px;
    background: #fafafa;
    height: 400px;
    overflow: auto;
    li {
        padding: 1.56em 15px;
        overflow: hidden;
        border-bottom: 1px solid #f3f3f3;
        &:last-child {
            border-bottom: 0;
        }
    }
    .table-header {
        font-size: 16px;
        color: #ffffff;
        background: #424242;
    }
    .host {
        width: 66%;
        float: left;
    }
    .service {
        width: 20%;
        float: left;
    }
    .service-status {
        width: auto;
        float: left;
        // margin-left: 6%;
    }
}

.online {
    background: url(../../../images/icon-online@2x.png) no-repeat left top;
}

.offline {
    background: url(../../../images/icon-offline@2x.png) no-repeat left top;
}

.intermittent {
    background: url(../../../images/icon-intermittent@2x.png) no-repeat left top;
}

.unknown {
    background: url(../../../images/icon-help-40x40.png) no-repeat left top;
}

.online,
.offline,
.intermittent,
.unknown {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-size: 20px 20px;
    border-radius: 50%;
    margin-left: 12px;
}

.dashboard .content {
    position: relative;
    left: 0;
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
    opacity: 1 !important;
}

:-moz-placeholder {
    color: rgba(255, 255, 255, 0.7);
}

::-moz-placeholder {
    color: rgba(255, 255, 255, 0.7);
}

:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
}
