/*body{
    background:url(../../../images/bg4.jpg) no-repeat left top;
}*/


/*Wrapper*/

.dashboard .wrapper {
    overflow: hidden;
}

.shadow-block {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
/* footer */

.footer {
    position: absolute;
    bottom: 25px;
    left: 0;
    width: 100%;
    .version {
        float: left;
        color: rgba(255, 255, 255, 0.54);
    }
    .copyright {
        float: right;
        margin-right: 50px;
        font-size: 14px;
        color: #fff;
        strong {
            font-weight: 400;
            color: rgba(255, 255, 255, 0.54);
        }
    }
    .license {
        float: right;
        color: #fff;
        font-size: 14px;
    }
}


/* dashboard */

.dashboard .footer {
    left: 9%;
    width: 84%;
    bottom: -38px;
    .row {
        width: 100%;
    }
    .copyright,
    .license {
        color: #1d9ca5;
        strong {
            color: #616161;
        }
    }
    .version {
        color: #616161;
    }
}
