/*
 Table Of Contents
 1.) Media Query for Handheld Devices
 2.) Media Query for Tablet
 3.) Media Query for mobile
 ===============================================*/
/*
 1.) Media Query for Handheld Devices
 ===============================*/
@media only screen and (max-width:1348px) {
    .dashboard .container {
        width: 100%;
    }
}
@media only screen and (max-width:1230px) {
    .service-status-table li {
        padding: 1.41em 15px;
    }
    .node {
        margin-right: 15px;
        margin-bottom: 14.3px;
    }
}
@media only screen and (max-width:1030px) {
    .node-block {
        padding: 10px 5px 0 7px;
    }
    .service-status-table{
		li {
			padding: 1.41em 15px;
		 	font-size: 12px;
		}
     	.table-header {
			font-size: 14px;
		}
    }
    .node {
        margin-bottom: 8px;
        margin-right: 10px;
    }
    .dashboard h3 {
        line-height: 24px;
        font-size: 15px;
    }
    .setting-btn {
        background-position: left 5px;
    }
    .map-data {
        padding: 12px;
    }
    .stats {
		&.time {
        	margin-bottom: 10px;
    	}
    	&.logs {
        	margin-bottom: 15px;
    	}
    	&.events {
			margin-bottom: 15px;
		}
    }
}
@media only screen and (min-width:768px) and (max-width:820px) {
    .service-status-table li {
        padding: 3.7px 15px;
    }
    .node {
        margin-bottom: 6px;
        margin-right: 8px;
    }
}
@media only screen and (max-width:767px) {
	.login-form {
		padding: 0 0;
	}
	.footer {
		padding: 0 10px;
	}
	.sidebar .tab-content.open {
		width: 256px;
	}
	.user-control {
		margin-right: 0;
	}
	.user {
		margin-right: 0;
	}
	.username {
		font-size: 0;
	}
	.single-block, .double-block {
		width: 95%;
		float: none;
		max-width: 228px;
		margin: 0 auto 10px;
	}
	.map{
		width: 100%;
	}
	.map-data {
		width: 100%;
		padding-left: 5px;
		padding-right: 5px;
		.stats {
			display: inline-block;
			margin-bottom: 0;
			margin-right: 15px;
		}
	}
	.dashboard {
		h4 {
			margin-bottom: 15px;
		}
		.footer {
			.copyright {
				width: 70%;
			}
			.license {
				width: 20%;
			}
		}
	}
    .list-content .msg {
        white-space: inherit;
    }
}
@media only screen and (max-width:767px) {
    html, body {
        min-height: 430px;
    }
    .login-page, .login-alternate, .login-secondary-alt {
        overflow: inherit;
    }
}
@media only screen and (min-width:480px) and (max-width:767px) {
    .username {
        font-size: 14px;
    }
}
@media(-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
    .logo-large {
        background: url(../../../images/logo-large@2x.png) no-repeat center top/cover;
    }
    .logo-header {
        background-image: url(../../../images/logo@2x.png);
        background-size: 113px 32px;
    }
    .username {
        background-image: url(../../../images/icon-down-arrow@2x.png);
        background-size: 16px 12px;
    }
    .dashboard-icon {
        background: url(../../../images/icon-dashboard-active@2x.png) no-repeat center center;
        background-size: 20px 20px;
    }
    .alerts {
        background: url(../../../images/icon-notifications@2x.png) no-repeat center center;
        background-size: 18px 20px;
    }
    .metrics {
        background: url(../../../images/icon-metrics@2x.png) no-repeat center center;
        background-size: 19px 19px;
    }
    .reports {
        background: url(../../../images/icon-reports@2x.png) no-repeat center center;
        background-size: 16px 20px;
    }
    .topology {
        background: url(../../../images/icon-topology@2x.png) no-repeat center center;
        background-size: 20px 20px;
    }
    .metrics:hover {
        background-image: url(../../../images/icon-metrics-active@2x.png);
    }
    .btn-grp li.active .metrics {
        background-image: url(../../../images/icon-metrics-active1@2x.png);
    }
    .alerts:hover {
        background-image: url(../../../images/icon-notifications-active@2x.png);
    }
    .btn-grp li.active .alerts {
        background-image: url(../../../images/icon-notifications-active1@2x.png);
    }
    .reports:hover {
        background-image: url(../../../images/icon-reports-active@2x.png);
    }
    .btn-grp li.active .reports {
        background-image: url(../../../images/icon-reports-active1@2x.png);
    }
    .topology:hover {
        background-image: url(../../../images/icon-topology-active@2x.png);
    }
    .btn-grp li.active .topology {
        background-image: url(../../../images/icon-topology-active1@2x.png);
    }
    .expand {
        background: url(../../../images/icon-expand@2x.png) no-repeat center center;
        background-size: 14px 14px;
		&.open {
			background: url(../../../images/icon-collapse@2x.png) no-repeat center center;
            background-size: 14px 14px;
		}
    }
}