{% extends "base.html" %}
{% load static %}
{% load waffle_tags %}

{% block localcss %}
    <link href="{% static 'css/plugins/dataTables/dataTables.bootstrap.css' %}"
          rel="stylesheet" media="screen">
    <link href="{% static 'css/plugins/datetimepicker/jquery.datetimepicker.css' %}"
          rel="stylesheet" media="screen">
    <link href="{% static 'intelligence/css/intelligence.css' %}"
          rel="stylesheet" media="screen">
    <link href="{% static 'css/dc.css' %}" rel="stylesheet" media="screen"/>
{% endblock %}

{% block localjs %}
    <script src="{% static 'js/plugins/dataTables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/plugins/dataTables/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'intelligence/js/fnReloadAjax.js' %}"></script>
    <script src="{% static 'js/plugins/datetimepicker/jquery.datetimepicker.js' %}"></script>
    <script src="{% static 'js/d3.js' %}"></script>
    <script src="{% static 'js/crossfilter.js' %}"></script>
    <script src="{% static 'js/dc.js' %}"></script>
    <script src="{% static 'js/colorbrewer.js' %}"></script>
    <script src="{% static 'intelligence/js/intelligence.js' %}"></script>
    <script src="{% static 'js/cockpit.js' %}"></script>
    {% switch gse %}
    <script src="{% static 'intelligence/js/intelligence-gse.js' %}"></script>
    <script src="{% static 'js/cockpit-gse.js' %}"></script>
    {% endswitch %}

{% endblock %}


{% block content %}


    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-primary intel_panel">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-cog"></i> Settings</h3>
                </div>
                <div class="panel-body" style="height:400px">
                    <h4 align="center">Charts</h4>
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="settingsStartTime" class="col-sm-3 control-label">Start:</label>
                            <div class="col-sm-9">
                                <input id="settingsStartTime" class="form-control" type="text" placeholder="1 weeks ago">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="settingsEndTime" class="col-sm-3 control-label">End:</label>
                            <div class="col-sm-9">
                                <input id="settingsEndTime" class="form-control" type="text" placeholder="now">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="settingsIntervalUnit" class="col-sm-3 control-label">Interval:</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="settingsIntervalUnit" >
                                    <option value="minutes">Minutes</option>
                                    <option value="hours" selected>Hours</option>
                                    <option value="days">Days</option>
                                    <option value="weeks">Weeks</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="button" id="settingsUpdateButton" class="btn btn-info btn-block">Update</button>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <h4 align="center">Logging Status</h4>
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="hostPresenceQty" class="col-sm-2 control-label">Last:</label>
                            <div class="col-sm-4">
                                    <input class="form-control" type="number" id="hostPresenceQty" min="1" placeholder="1"/>
                                </div>
                                <div class="col-sm-6">
                                    <select class="form-control" id="hostPresenceUnit" >
                                        <option value="m">Minutes</option>
                                        <option value="h" selected>Hours</option>
                                        <option value="d">Days</option>
                                        <option value="w">Weeks</option>
                                    </select>
                                </div>
                            </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="button" id="hostPresenceButton" class="btn btn-info btn-block">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="row2-full" class="col-md-6">
            <div class="panel panel-primary intel_panel">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-dashboard"></i> <a
                            href="/intelligence/search"> Log Analysis</a></h3>
                </div>
                <div id="bad-event-chart" class="panel-body"
                     style="height:400px">
                    <img src="{% static 'images/ajax-loader-solinea-blue.gif' %}"
                         id="log-loading-indicator" class="ajax-loader"/>
                    <span class="reset" style="display: none;">range: <span
                            class="filter"></span></span>
                    <a class="reset"
                       href="javascript:logChart.filterAll();logChart.filterAll();dc.redrawAll();"
                       style="display: none;">reset</a>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
            <div id="table-col" class="col-md-3">
            <div class="panel panel-primary log_table_panel">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-thumbs-up"></i>
                        Logging Status
                    <i class="fa fa-thumbs-down"></i></h3>
                </div>
                <div id="host-presence-body" class="panel-body" style="height:400px">



                    <table id="host-presence-table" class="table table-hover">
                        <!-- table rows filled by draw_host_presence_table -->
                        <thead>
                        <tr class="header">
                            <th>Host</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                    </table>
                    <img src="{% static 'images/ajax-loader-solinea-blue.gif' %}"
                         id="host-presence-table-loading-indicator"
                         class="ajax-loader"/>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary intel_panel">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> CPU
                        Stats (No Oversubscription)</h3>
                </div>
                <div id="phys-cpu-chart" class="panel-body"
                     style="height:400px">
                    <img src="{% static 'images/ajax-loader-solinea-blue.gif' %}"
                         id="phys-cpu-loading-indicator" class="ajax-loader"/>
                    <span class="reset" style="display: none;">range: <span
                            class="filter"></span></span>
                    <a class="reset"
                       href="javascript:logChart.filterAll();logChart.filterAll();dc.redrawAll();"
                       style="display: none;">reset</a>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary intel_panel">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> CPU
                        Stats (With Oversubscription)</h3>
                </div>
                <div id="virt-cpu-chart" class="panel-body"
                     style="height:400px">
                    <img src="{% static 'images/ajax-loader-solinea-blue.gif' %}"
                         id="virt-cpu-loading-indicator" class="ajax-loader"/>
                    <span class="reset" style="display: none;">range: <span
                            class="filter"></span></span>
                    <a class="reset"
                       href="javascript:logChart.filterAll();logChart.filterAll();dc.redrawAll();"
                       style="display: none;">reset</a>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary intel_panel">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Memory
                            Stats (No Oversubscription)</h3>
                    </div>
                    <div id="phys-mem-chart" class="panel-body"
                         style="height:400px">
                        <img src="{% static 'images/ajax-loader-solinea-blue.gif' %}"
                             id="phys-mem-loading-indicator"
                             class="ajax-loader"/>
                    <span class="reset" style="display: none;">range: <span
                            class="filter"></span></span>
                        <a class="reset"
                           href="javascript:logChart.filterAll();logChart.filterAll();dc.redrawAll();"
                           style="display: none;">reset</a>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-primary intel_panel">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Memory
                            Stats (With Oversubscription)</h3>
                    </div>
                    <div id="virt-mem-chart" class="panel-body"
                         style="height:400px">
                        <img src="{% static 'images/ajax-loader-solinea-blue.gif' %}"
                             id="virt-mem-loading-indicator"
                             class="ajax-loader"/>
                    <span class="reset" style="display: none;">range: <span
                            class="filter"></span></span>
                        <a class="reset"
                           href="javascript:logChart.filterAll();logChart.filterAll();dc.redrawAll();"
                           style="display: none;">reset</a>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary intel_panel">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Disk
                        Stats (No Oversubscription)</h3>
                </div>
                <div id="phys-disk-chart" class="panel-body"
                     style="height:400px">
                    <img src="{% static 'images/ajax-loader-solinea-blue.gif' %}"
                         id="phys-disk-loading-indicator" class="ajax-loader"/>
                    <span class="reset" style="display: none;">range: <span
                            class="filter"></span></span>
                    <a class="reset"
                       href="javascript:logChart.filterAll();logChart.filterAll();dc.redrawAll();"
                       style="display: none;">reset</a>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    {% switch gse %}
        <div class="row">
            <div id="row3-col1" class="col-md-6">
                <div class="panel panel-primary intel_panel">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i>
                            vCPU Usage</h3>
                    </div>
                    <div id="vcpu-graph" class="panel-body"
                         style="height:400px">
                    <span class="reset" style="display: none;">range: <span
                            class="filter"></span></span>
                        <img src="{% static 'images/ajax-loader-solinea-blue.gif' %}"
                             id="vcpu-loading-indicator" class="ajax-loader"/>
                        <a class="reset"
                           href="javascript:vcpuChart.filterAll();vcpuChart.filterAll();dc.redrawAll();"
                           style="display: none;">reset</a>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div id="lease-col" class="col-md-6">

            </div>
        </div>
    {% endswitch %}

{% endblock %}

