{% extends "base.html" %}
{% load staticfiles %}
{% load custom_filters %}


{% block localcss %}
    <link href="{% static 'dataTables/dataTables.bootstrap.css' %}"
          rel="stylesheet"
          media="screen">
    <link href="{% static 'css/plugins/datetimepicker/jquery.datetimepicker.css' %}"
          rel="stylesheet" media="screen">
    <link href="{% static 'css/dc.css' %}" rel="stylesheet" media="screen"/>
    <link href="{% static 'intelligence/css/intelligence.css' %}"
          rel="stylesheet" media="screen">

{% endblock %}

{% block localjs %}
    <script src="{% static 'dataTables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'dataTables/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'intelligence/js/fnSetFilteringDelay.js' %}"></script>
    <script src="{% static 'intelligence/js/fnReloadAjax.js' %}"></script>
    <script src="{% static 'js/plugins/datetimepicker/jquery.datetimepicker.js' %}"></script>
    <script src="{% static 'js/d3.js' %}"></script>
    <script src="{% static 'js/crossfilter.js' %}"></script>
    <script src="{% static 'js/dc.js' %}"></script>
    <script src="{% static 'nova/js/nova.js' %}"></script>
    <script>
// script assumes that goldstone.js and nova.js have been loaded into the
// surrounding page.

$(document).ready(function () {
    // wonder if this can get called before the namespace is created in
    // nova.js.  Found some references suggesting that event handlers always
    // execute in the order they were bound, but haven't confirmed.
    var gnd = goldstone.nova.discover
    var gns = goldstone.nova.spawns
    gnd.start = {{ start_ts|to_js }}
    gnd.end = {{ end_ts|to_js }}
    gnd.interval = {{ interval|to_js }}
    $('#nova-discover-r1-c1').load(gns.url(gnd.start, gnd.end, gnd.interval))
})
    </script>

{% endblock %}


{% block content %}

    <div id="nova-discover-r1" class="row">
        <div id="nova-discover-r1-c1" class="col-md-4"></div>
        <div id="nova-discover-r1-c2" class="col-md-4"></div>
        <div id="nova-discover-r1-c3" class="col-md-4"></div>
    </div>

{% endblock %}






