{% load staticfiles %}
{% load custom_filters %}

<div id = "nova-stats-panel" class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-tasks"></i> Compute Info</h3>
    </div>
    <div class="panel-body" style="height:300px">
        <div id="nova-stats-text" class="stats-text">
            <script>
var ns = goldstone.nova.latestStats
ns.data = JSON.parse({{ data|to_js }})
ns.height = 300
ns.location = '#nova-stats-text'
ns.spinner = '#nova-stats-spinner'
ns.drawText()
            </script>
            <img src="{% static 'images/ajax-loader-solinea-blue.gif' %}"
                 id="nova-stats-spinner"
                 class="ajax-loader"/>
            <div class="clearfix"></div>
        </div>
    </div>
</div>