{% extends "base.html" %}
{% load staticfiles %}
{% load custom_filters %}

{% block localcss %}
    <link href="{% static 'intelligence/css/intelligence.css' %}"
          rel="stylesheet" media="screen">
{% endblock %}

{% block localjs %}
    <script src="{% static 'nova/js/nova.js' %}"></script>
    <script>
$(document).ready(function () {
    var gnd = goldstone.nova.report
    var gnspawns = goldstone.nova.spawns
    var gncpu = goldstone.nova.cpu
    var gnmem = goldstone.nova.mem
    var gndisk = goldstone.nova.disk
    var gnapi = goldstone.nova.apiPerf
    gnd.start = goldstone.time.fromPyTs({{ start_ts|to_js }})
    gnd.end = goldstone.time.fromPyTs({{ end_ts|to_js }})
    gnd.interval = {{ interval|to_js }}
    gnspawns.loadUrl(gnd.start, gnd.end, gnd.interval, '#nova-report-r1-c1', true)
    gncpu.loadUrl(gnd.start, gnd.end, gnd.interval, '#nova-report-r1-c2', true)
    gnmem.loadUrl(gnd.start, gnd.end, gnd.interval, '#nova-report-r2-c1', true)
    gndisk.loadUrl(gnd.start, gnd.end, gnd.interval, '#nova-report-r2-c2', true)
    gnapi.loadUrl(gnd.start, gnd.end, gnd.interval, true, '#nova-report-r3-c1')
})
    </script>

{% endblock %}


{% block content %}

    <div id="nova-report-r1" class="row">
        <div id="nova-report-r1-c1" class="col-md-6"></div>
        <div id="nova-report-r1-c2" class="col-md-6"></div>
    </div>
    <div id="nova-report-r2" class="row">
        <div id="nova-report-r2-c1" class="col-md-6"></div>
        <div id="nova-report-r2-c2" class="col-md-6"></div>
    </div>
    <div id="nova-report-r3" class="row">
        <div id="nova-report-r3-c1" class="col-md-6"></div>
        <div id="nova-report-r3-c2" class="col-md-6"></div>
    </div>

{% endblock %}






