{% extends "base.html" %}
{% load staticfiles %}
{% load custom_filters %}


{% block localcss %}
    <link href="{% static 'intelligence/css/intelligence.css' %}"
          rel="stylesheet" media="screen">
{% endblock %}

{% block localjs %}
    <script src="{% static 'nova/js/nova.js' %}"></script>
    <script>
// script assumes that goldstone.js and nova.js have been loaded into the
// surrounding page.

$(document).ready(function () {
    // wonder if this can get called before the namespace is created in
    // nova.js.  Found some references suggesting that event handlers always
    // execute in the order they were bound, but haven't confirmed.
    var gnd = goldstone.nova.report
    var gnspawns = goldstone.nova.spawns
    var gncpu = goldstone.nova.cpu
    var gnmem = goldstone.nova.mem
    var gndisk = goldstone.nova.disk
    gnd.start = goldstone.time.fromPyTs({{ start_ts|to_js }})
    gnd.end = goldstone.time.fromPyTs({{ end_ts|to_js }})
    gnd.interval = {{ interval|to_js }}

    gnspawns.loadUrl(gnd.start, gnd.end, gnd.interval, '#nova-report-r1-c1', true)
    gncpu.loadUrl(gnd.start, gnd.end, gnd.interval, '#nova-report-r1-c2', true)
    gnmem.loadUrl(gnd.start, gnd.end, gnd.interval, '#nova-report-r2-c1', true)
    gndisk.loadUrl(gnd.start, gnd.end, gnd.interval, '#nova-report-r2-c2', true)

})
    </script>

{% endblock %}


{% block content %}

    <div id="nova-report-r1" class="row">
        <div id="nova-report-r1-c1" class="col-md-6"></div>
        <div id="nova-report-r1-c2" class="col-md-6"></div>
    </div>
    <div id="nova-report-r2" class="row">
        <div id="nova-report-r2-c1" class="col-md-6"></div>
        <div id="nova-report-r2-c2" class="col-md-6"></div>
    </div>

{% endblock %}






