{% load staticfiles %}
{% load custom_filters %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-tasks"></i>Nova Spawns</h3>
    </div>
    <div class="panel-body" style="height:300px">
        <div id="nova-spawns-chart">
            <script>
// script assumes that goldstone.js and nova.js have been loaded into the
// surrounding page.
$('#nova-spawns-chart').ready(function () {
    goldstone.namespace('nova.data.spawns')
    goldstone.nova.data.spawns = {{ data|to_js }}
    (goldstone.nova.dom.spawns(goldstone.nova.data.spawns))()
})
            </script>
            <img src="{% static 'images/ajax-loader-solinea-blue.gif' %}"
                 id="nova-spawns-loading-indicator"
                 class="ajax-loader"/>
            <div class="clearfix"></div>
        </div>
    </div>
</div>