/* goldstone ui color palette */
$dark-grey: #3C3C3C;
$solinea-grey: #666666;
$medium-grey: #999999;
$light-grey: #CCCCCC;
$extra-light-grey: #f2f2f2;
$hover-blue: #0095D3;
$solinea-blue: #23ADE1;
$highlight-blue: #E2F7FF;
$solinea-green: #57BE1B;
$solinea-red: #FF0000;
$solinea-yellow: #F1CA10;
$solinea-teal: #0095D3;
$solinea-orange: #23ADE1;
$solinea-purple: #B55AFF;

/* dark theme color variables */
$dark_background: rgb(37, 37, 37);
$dark_chart_background: rgb(25, 25, 25);
$dark_footer: #ccc;
$dark_panel_header: #bbb;
$dark_panel_text: #bbb;
$dark_text_on_light: #222;
$dark_tip: rgba(200, 200, 200, 0.8);
$dark_chart_text: #bbb;
$dark_datatable_text: #eee;

/* Custom page CSS
-------------------------------------------------- */


/* Not required for template or sticky footer method. */

#global-lookback-range,
#global-refresh-range {
    margin-top: -12px;
    top: 12px;
}


/* every font-awesome icon everywhere unless excluded */

.fa:not(.fa-check):not(.fa-clock-o):not(.dashboard-bullet) {
    cursor: pointer;
}


/* cursor over logViz to suggest double-clickability*/

#log-viewer-visualization svg {
    cursor: zoom-in;
}


/* Datatable font sizes */

.table-hover th {
    font-size: 10px;
}

.table-hover td {
    font-size: 10px;
}

.infoButton {
    width: 17em;
    margin-left: 1em;
}

#multi-rsrc-table_wrapper > .dataTables_scroll {
    min-height: 500px;
}

.node:not(.data-leaf) {
    cursor: pointer;
    stroke: #3182bd;
    stroke-width: 1.5px;
}

.data-leaf {
    cursor: context-menu;
}

.node text {
    font-size: 12px;
    stroke-width: 0;
}

.link {
    fill: none;
    stroke: #9ecae1;
    stroke-width: 1.5px;
}

.axis {
    path,
    line {
        fill: none;
        stroke-width: 1.5px;
        stroke: if($theme==dark, $dark_chart_text, #000);
        shape-rendering: crispEdges;
    }
}

text:not(.zoomable),
.axis.label {
    font: 12px sans-serif;
    fill: if($theme==dark, $dark_chart_text, null);
}

#discover-view-r2 g.x.axis text {
    font-size: 9px;
}

#goldstone-primary-panel g.text {
    text {
        font-size: 10px;
    }
}

.legend rect {
    opacity: 0.0;
}


/* predefined search */

.predefined-search-container {
    .dropdown-menu {
        padding: 13px;
        width: 246%;
        font-size: large;
        cursor: hand;
    }
    li:hover {
        background: #eee;
    }
}
