[Unit]
Description=Goldstone Server Enterprise
Requires=docker.service
After=docker.service

[Service]
Restart=always
User=goldstone
Group=goldstone
ExecStart=/usr/bin/goldstone-server-enterprise start
ExecStop=/usr/bin/goldstone-server-enterprise stop

[Install]
WantedBy=local.target
