[Unit]
Description=Goldstone Server
Requires=docker.service
After=docker.service

[Service]
Restart=always
User=goldstone
Group=goldstone
ExecStart=/usr/bin/goldstone-server start
ExecStop=/usr/bin/goldstone-server stop

[Install]
WantedBy=local.target
