[Unit]
Description=Goldstone Server
Requires=docker.service
After=docker.service

[Service]
Type=simple
Restart=always
User=root
Group=root
ExecStart=/opt/goldstone/bin/docker-compose -f /opt/goldstone/docker-compose.yml up
ExecStop=/opt/goldstone/bin/docker-compose -f /opt/goldstone/docker-compose.yml stop
RestartSec=

[Install]
WantedBy=local.target
