$navigation-top: 60px;
$navigation-bottom: 40px;
$navigation_hover: #fff;

.top-bar {
    height: $navigation-top;
    background-color: $dark-grey;
    overflow: hidden;
    border: 0;
    div {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        line-height: $navigation-top;
    }
}
.bottom-bar {
    margin-top: $navigation-top;
    height: $navigation-bottom;
    min-height: $navigation-bottom;
    background-color: $hover-blue;
    border: 0;
    div {
        text-align: left;
        padding-left: 14px;
        vertical-align: middle;
        line-height: $navigation-bottom;
    }
}
// fixed navigation bar will cover all other content
body {
    padding-top: ($navigation-top + $navigation-bottom);
}
.g-o-l-d-s-t-o-n-e {
    margin-left: 54px;
    font-size: 14px;
    color: #909090;
    font-weight: bold;
}
.navigate-line {
    height: 60px;
    position: relative;
    background-color: #000;
    margin-left: 8px;
    width: 1px;
}
.d-a-s-h-b-o-a-r-d {
    margin-left: 20px;
    font-size: 13px;
    color: $light-grey;
    // will be applied on however as well as
    // when the 'active' class is applied
    &:hover, &.active {
        color: $navigation_hover;
    }
    &::before {
        font-family: FontAwesome;
        content: "\f111";
        margin-right: 4px;
    }
    // color will be applied to status dot
    // when the following 3 statuses are applied
    // to d-a-s-h-b-o-a-r-d
    &.status-red::before {
        color: $solinea-red;
    }
    &.status-yellow::before {
        color: $solinea-yellow;
    }
    &.status-green::before {
        color: $solinea-green;
    }
}
.m-e-t-r-i-c-s {
    font-size: 13px;
    margin-left: 29px;
    color: $light-grey;
    // will be applied on however as well as
    // when the 'active' class is applied
    &:hover, &.active {
        color: $navigation_hover;
    }
    &::before {
        font-family: FontAwesome;
        content: "\f1fe";
        margin-right: 4px;
    }
}
.t-o-p-o-l-o-g-y {
    font-size: 13px;
    margin-left: 29px;
    color: $light-grey;
    // will be applied on however as well as
    // when the 'active' class is applied
    &:hover, &.active {
        color: $navigation_hover;
    }
    &::before {
        font-family: FontAwesome;
        content: "\f0e8";
        margin-right: 4px;
    }
}
.a-u-d-i-t {
    font-size: 13px;
    margin-left: 29px;
    color: $light-grey;
    // will be applied on however as well as
    // when the 'active' class is applied
    &:hover, &.active {
        color: $navigation_hover;
    }
    &::before {
        font-family: FontAwesome;
        content: "\f0ea";
        margin-right: 4px;
    }
    &::after {
        font-family: FontAwesome;
        content: "\f0d7";
        margin-left: 4px;
    }
}
.alert-container {
    .icon-alerts {
        position: relative;
        color: $light-grey;
        right: 18px;
        &::before {
            font-size: 16px;
            font-family: FontAwesome;
            content: "\f0f3";
            color: $light-grey;
        }
    }
    .badge {
        position: relative;
        margin-top: -20px;
        right: 5px;
        background-color: $solinea-red;
        z-index: 1;
    }
}
.u-p-g-r-a-d-e {
    font-size: 13px;
    margin: 0 18px;
    color: $solinea-blue;
}
.active-user {
    font-size: 13px;
    margin: 0 19px;
    color: $light-grey;
}

.nav-bottom-active-user {
    float: right;
    width: 240px;
    height: $navigation-bottom;
    margin: 0;
    display: none;
    &.active {
        display: inline-block;
    }
    & > .active-user {
        margin: 0;
        width: 240px;
        font-size: 12px;
        background-color: $solinea-grey;
        color: $white;
    }
    & > .user-settings {
        margin: 0;
        width: 240px;
        font-size: 12px;
        background-color: $white;
        color: $solinea-grey;
        cursor: pointer;
        &:hover {
            background-color: $highlight-blue;
        }
        &::before {
            font-family: FontAwesome;
            color: $solinea-blue;
            margin-right: 14px;
            content: '\f013'
        }
    }
    & > .user-help {
        margin: 0;
        width: 240px;
        font-size: 12px;
        background-color: $white;
        color: $solinea-grey;
        cursor: pointer;
        &:hover {
            background-color: $highlight-blue;
        }
        &::before {
            font-family: FontAwesome;
            color: $solinea-blue;
            margin-right: 14px;
            content: '\f059'
        }
    }
    & > .user-logout {
        margin: 0;
        width: 240px;
        font-size: 12px;
        background-color: $white;
        color: $solinea-grey;
        cursor: pointer;
        &:hover {
            background-color: $highlight-blue;
        }
        &::before {
            font-family: FontAwesome;
            color: $solinea-blue;
            margin-right: 14px;
            content: '\f08b'
        }
    }
}
