/*
 Table Of Contents

 1.) Login
 2.) Dashboard
 3.) Colors
 ===============================================*/

/*
 1.) Login
 ----------------------------------------*/
html{
 position:relative;
 height:100%;
}
body{
 position:relative;
 min-height:100%;
 font-family: 'Roboto', sans-serif;
}
.login-page{
 background:url(../images/background.jpg) no-repeat left top;
 background-size:cover;
}
.login-alternate{
 background:url(../images/background1.jpg) no-repeat left top;
 background-size:cover;
}
.login-secondary-alt{
 background:url(../images/background2.jpg) no-repeat left top;
 background-size:cover;
}
.login-page,.login-alternate,.login-secondary-alt{
	overflow: hidden;
}
.login-area{
 position:absolute;
 left:50%;
 top:50%;
 transform: translate(-50%,-50%);
 -webkit-transform: translate(-50%,-50%);
 -ms-transform: translate(-50%,-50%);
 -moz-transform: translate(-50%,-50%);
 -o-transform: translate(-50%,-50%);
}
.logo-large{
 height:56px;
 width:200px;
 background:url(../images/logo-large.png);
 display:block;
 margin: 0 auto 44px;
 }
.login-form{
 padding: 0 10.5%;
}
.login-form input[type='text'],.login-form input[type='password']{
 display: block;
 background:none;
 border:0;
 border-bottom:1px solid #fff;
 box-shadow:none;
 width:100%;
 color:#fff;
 font-family: 'Roboto', sans-serif;
 font-size: 16px;
 padding-bottom: 6px;
 -webkit-appearance:none;
 border-radius:0;
}
.login-form input:first-child{
 margin-bottom: 41px;
}
.login-form input[type='password']{
 margin-bottom: 27px;
}
.chkbox{
 margin-left: 4px;
    padding-left: 30px;
    position: relative;
    color:#fff;
    font-family: 'Roboto', sans-serif;
 font-size: 16px;
 margin-bottom: 22px;
 font-weight:400;
}
.chkbox input[type="checkbox"]{
 position: absolute;
 opacity: 0;
 right: 120px;
 /*display:none; changed to opacity to allow for tab focus*/
}
.chk-lab{
 height:18px;
 width:18px;
 display:inline-block;
 position:absolute;
 left:0;
 top:0;
 border:2px solid #fff;
 border-radius:2px;
 cursor: pointer;
}
.chkbox input[type="checkbox"]:checked + .chk-lab{
 background:#fff;
}
.chkbox input[type="checkbox"]:focus + .chk-lab{
 border-color:blue;
}
.full-width-btn{
 font-size:14px;
 color:#2c80ab;
 text-align: center;
 line-height:36px;
 background:#fff;
 width:100%;
 font-family: 'Roboto', sans-serif;
 border:0;
 border-radius:2px;
 text-transform: uppercase;
}

.full-width-btn:focus{
 background-color: rgba(255,255,255,0.54);
}

.login-form .full-width-btn{
 margin-bottom: 15px;
}
.reset-pw{
 font-size:14px;
 color:#fff;
 display: block;
 text-align: center;
}
.no-gutter{
	padding-left: 0;
	padding-right: 0;
}
/*
 2.) Dashboard
 ----------------------------------------*/
.dashboard{
	background:#eeeeee;
}
.dashboard .content{
	padding-top: 20px;
	margin-bottom: 40px;
}
.dashboard h3{
	font-size:24px;
	color:#424242;
	margin: 0 0 5px;
}
.setting-btn{
	display: inline-block;
	height:24px;
	width:14px;
	background:url(../images/icon-settings.png) no-repeat left 8px;
	cursor: pointer;
	margin-left: 3px;
}
.single-block{
	width:30.76%;
	float: left;
}
.service-status-table{
	list-style-type: none;
	margin: 0;
	padding: 0 0 5px;
	background:#fafafa;
}
.service-status-table li{
	padding:13px 15px;
	overflow: hidden;

	border-bottom:1px solid #f3f3f3;
}
.service-status-table li:last-child{
	border-bottom:0;
}
.service-status-table .table-header{
	font-size:16px;
	color:#ffffff;
	background:#424242;
}
.service-status-table .service{
	width:59%;
	float: left;
}
.service-status-table .sf,.service-status-table .nm{
	width:15%;
	float:left;
	text-transform: uppercase;
	min-width:25px;
}
.service-status-table .sf{
	margin-right: 9%;
}
.online{
	background:url(../images/icon-online.png) no-repeat left top;
}
.offline{
	background:url(../images/icon-offline.png) no-repeat left top;
}
.intermittent{
	background:url(../images/icon-intermittent.png) no-repeat left top;
}
.online,.offline,.intermittent{
	display: inline-block;
	height:20px;
	width:20px;
	background-size:20px 20px;
	border-radius:50%;
}
.service-status{
	margin-right: 2.4%;
}
.double-block {
    float: left;
    width: 64.3%;
}
.map-block{
	overflow: hidden;
	background:#000;
}
.map{
	width:78%;
	float: left;
}
.map img{
	max-width:100%;
}
.map-data{
	width:22%;
	float:left;
	padding: 18px 16px;
}
.map-data .stats{
	font-size:12px;
	display: block;
	line-height: 1;
}
.stats .count{
	display: block;
	margin-bottom: 8px;
}
.stats.time .count{
	margin-bottom: 8px;
}
.stats.time{
	color:#fff;
	margin-bottom: 18px;
}
.stats.logs{
	color:#2c80ab;
	margin-bottom: 49px;
}
.stats.events{
	color:#1d9ca5;
	margin-bottom: 40px;
}
.stats.call{
	color:#8159b3;
	margin-bottom: 5px;
}
.dashboard .first-row.row{
	margin-bottom: 37px;
}
.dashboard .first-row h3{
	margin-bottom: 10px;
}
.dashboard .second-row.row{
	margin-bottom: 22px;
}
.dashboard h4{
	margin-top:0;
	font-size:16px;
	color:#424242;
	margin-bottom: 36px;
}
.node-block{
	padding: 18px 18px 0;
	background:#fafafa;
}
.node{
	display: inline-block;
	height:15px;
	width:15px;
	border-radius:50%;
	background:#eee;
	border:2px solid #fafafa;
	float: left;
	margin-bottom: 21px;
	margin-right: 7.1%;
	cursor: pointer;
}
.node:hover{
	border-color:#000;
}
.node-list{
	padding: 0;
	list-style-type: none;
	margin: 0;
	overflow: hidden;
}
.node:nth-child(9n){
	margin-right: 0;
}
.sidebar{
	position:absolute;
	left: 0;
	top:64px;
	height:100%;
	background:#ffffff;
	/*width:64px;
	transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;*/
	z-index: 9999;
}
.sidebar.expand-menu{
	width:inherit;
}
.btn-grp{
	list-style-type:none;
	padding:0;
	margin-bottom: 0;
	width:64px;
	z-index:99;
	float: left;
	background:#fff;
	position:relative;
	height:100%;
	box-shadow:0 0 5px rgba(0,0,0,0.3);
	-webkit-box-shadow:0 0 5px rgba(0,0,0,0.3);
	transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
}
.sidebar.expand-menu .btn-grp{
	width:180px;
}
.dashboard .content{
	position: relative;
	left: 0;
	/*transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;*/
}
.sidebar.open{
	width:inherit !important;
}
.btn-grp li{
	border-left:4px solid transparent;
	height:48px;
	white-space:nowrap;
	cursor: pointer;
}
.btn-grp li .btn-txt{
	display: none;
}

.sidebar.expand-menu .btn-grp li .btn-txt{
	display: inline-block;
}
.btn-grp li.active-page{
	border-color:#1c9ca4 !important;
}
.btn-grp li:hover{
	border-color:#eeeeee;
}
.btn-grp li.active{
	background:#4f376e;
}
.btn-grp li.active:hover{
	border-left-color:#4f376e;
}
.btn-grp li.diff.active{
	border-top:1px solid #f8f8f8;
	border-bottom:1px solid #f8f8f8;
	border-left-color:#4f376e;
}
.btn-grp li:hover span{
	color:#1c9ca4;
}
.btn-grp li.active span{
	color:#fff;
}
.btn-grp li.diff{
	border-top:1px solid #f8f8f8;
	border-bottom:1px solid #f8f8f8;
	height: auto;
    margin-top: 7px;
    margin-bottom: 8px;
}
.btn-grp li.diff .icon{
	margin-bottom: 8px;
    margin-top: 7px;
}
.btn-grp .icon{
	height:20px;
	width:20px;
}
.dashboard-icon{
	background:url(../images/icon-dashboard-active.png) no-repeat center center;
}

.alerts{
	background:url(../images/icon-notifications.png) no-repeat center center;
}
.btn-grp li:hover .alerts{
	background-image:url(../images/icon-notifications-active.png);
}
.btn-grp li.active .alerts{
	background-image:url(../images/icon-notifications-active1.png);
}
.metrics{
	background:url(../images/icon-metrics.png) no-repeat center center;
}
.btn-grp li:hover .metrics{
	background-image:url(../images/icon-metrics-active.png);
}
.btn-grp li.active .metrics{
	background-image:url(../images/icon-metrics-active1.png);
}
.reports{
	background:url(../images/icon-reports.png) no-repeat center center;
}
.btn-grp li:hover .reports{
	background-image:url(../images/icon-reports-active.png);
}
.btn-grp li.active .reports{
	background-image:url(../images/icon-reports-active1.png);
}
.topology{
	background:url(../images/icon-topology.png) no-repeat center center;
}
.btn-grp li:hover .topology{
	background-image:url(../images/icon-topology-active.png);
}
.btn-grp li.active .topology{
	background-image:url(../images/icon-topology-active1.png);
}
.setting-btn-icon{
	background:url(../images/icon-chart-settings.png) no-repeat center center;
}
.btn-grp li:hover .setting-btn-icon{
	background-image:url(../images/icon-chart-settings-active.png);
}
.btn-grp li.active .setting-btn-icon{
	background-image:url(../images/icon-chart-settings-active1.png);
}
.expand{
	background:url(../images/icon-expand.png) no-repeat center center;
}
.expand.open{
	background:url(../images/icon-collapse.png) no-repeat center center;
}
.full-map img{
	width:100%;
}
.tooltip-arrow{
	display: none;
}
.tooltip-inner{
	height:30px;
	padding:0;
	position:absolute;
	left:-6px;
	top:-13px;
	min-width:58px;
	line-height:30px;
	background:rgba(0,0,0,0.8);
}
.btn-grp .btn-icon-block{
	width:56px;
	padding: 14px 18px;
	display: inline-block;
}
.sidebar .btn-grp li span{
	font-size:14px;
}
.sidebar .tab-content{
	float: right;
	box-shadow:2px 0 5px rgba(0,0,0,0.3);
	-webkit-box-shadow:2px 0 5px rgba(0,0,0,0.3);
	position: relative;
	height: 100%;
	width:0;
	transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	overflow: hidden;
	background:#fafafa;
}
.sidebar .tab-content.open{
	width:336px;
}
.tab-content .header-block{
	font-size:20px;
	line-height:48px;
	text-align: center;
	color:rgba(255,255,255,0.5);
	margin: 0;
	background:#4f376e;
}
.subtab .tab-links,.list-content{
	padding: 0;
	list-style-type:none;
	overflow: hidden;
	margin: 0;
}
.subtab .tab-links li{
	width:50%;
	background:#4f376e;
	float: left;
	font-size:14px;
	text-transform:uppercase;
	text-align: center;
	line-height:48px;
	color:rgba(255,255,255,0.5);
	border-bottom:4px solid transparent;
	cursor: pointer;

}
.subtab .tab-links li.active{
	border-color:#fff;
	color:#fff;
}
.list-content .msg{
	font-size:14px;
	color:#000;
	display: block;
	margin-bottom: 4px;
	white-space: nowrap;
}
.list-content .time{
	font-size:12px;
	color:#616161;
	display: block;
	white-space: nowrap;
}
.list-content li{
	padding: 15px 15px 20px;
	overflow: hidden;
	border-bottom:1px solid #eee;
	cursor: pointer;
}
.list-content li:hover{
	background:#fff;
}
.list-content li:last-child{
	border-bottom:0;
}
.remove-btn{
	display: inline-block;
	height:14px;
	width:14px;
	background:url(../images/icon-close.png) no-repeat left top/14px 14px;
	float: right;
	cursor:pointer;
	margin: 5px 6px 0 0;
}
.msg-block{
	width:90%;
	float: left;
}
.tab-content .tab{
	display:none;
}
.sub-tab-content .tabs{
	display: none;
}
.sub-tab-content .tabs:first-child{
	display: block;
}
.modal{
	height:200px;
	width:200px;
	border-radius:5px;
	background:#fafafa;
	position:fixed;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	z-index:99999;
	display: none;
	overflow:visible;
}
.modal .close-btn{
	display: inline-block;
	cursor: pointer;
}
.modal .close-btn:after{
	content:"x";
	height:20px;
	width:20px;
	font-size:15px;
	line-height:20px;
	text-align:center;
	background:#000;
	color:#fff;
	font-weight:bold;
	border-radius:50%;
	position:absolute;
	right:-7px;
	top:-7px;
	font-style:normal;
}
::-webkit-input-placeholder { color: rgba(255,255,255,0.7); opacity: 1 !important; }
:-moz-placeholder { color: rgba(255,255,255,0.7);}
::-moz-placeholder {color: rgba(255,255,255,0.7);}
:-ms-input-placeholder {color: rgba(255,255,255,0.7);}
/*
 3.) Colors
 ----------------------------------------*/
.color1{
	background-color:#8bc34a;
}


.color2{
	background-color:#8bc34a;
}


.color3{
	background-color:#8bc34a;
}


.color4{
	background-color:#8bc34a;
}


.color5{
	background-color:#cddc39;
}


.color6{
	background-color:#cddc39;
}


.color7{
	background-color:#ff9800;
}


.color8{
	background-color:#ff7c30;
}


.color9{
	background-color:#ff7c30;
}


.color10{
	background-color:#8bc34a;
}


.color11{
	background-color:#8bc34a;
}

.color12{
	background-color:#8bc34a;
}

.color13{
	background-color:#cddc39;
}


.color14{
	background-color:#cddc39;
}


.color15{
	background-color:#ff9800;
}


.color16{
	background-color:#ff9800;
}



.color17{
	background-color:#ff7c30;
}


.color18{
	background-color:#ff7c30;
}


.color19{
	background-color:#8bc34a;
}


.color20{
	background-color:#8bc34a;
}


.color21{
	background-color:#cddc39;
}


.color22{
	background-color:#cddc39;
}


.color23{
	background-color:#ff9800;
}


.color24{
	background-color:#ff9800;
}


.color25{
	background-color:#ff7c30;
}


.color26{
	background-color:#ff7c30;
}


.color27{
	background-color:#ff7c30;
}

.color28{
	background-color:#8bc34a;
}


.color29{
	background-color:#cddc39;
}


.color30{
	background-color:#cddc39;
}


.color31{
	background-color:#ff9800;
}


.color32{
	background-color:#ff9800;
}


.color33{
	background-color:#ff7c30;
}


.color34{
	background-color:#ff7c30;
}


.color35{
	background-color:#ff7c30;
}


.color36{
	background-color:#ff5252;
}

.color37{
	background-color:#cddc39;
}



.color38{
	background-color:#cddc39;
}



.color39{
	background-color:#ff9800;
}



.color40{
	background-color:#ff9800;
}



.color41{
	background-color:#ff7c30;
}



.color42{
	background-color:#ff7c30;
}



.color43{
	background-color:#ff7c30;
}



.color44{
	background-color:#ff5252;
}



.color45{
	background-color:#b71c1c;
}

.color46{
	background-color:#cddc39;
}


.color47{
	background-color:#ff9800;
}


.color48{
	background-color:#ff7c30;
}


.color49{
	background-color:#ff7c30;
}


.color50{
	background-color:#ff7c30;
}


.color51{
	background-color:#ff7c30;
}


.color52{
	background-color:#ff5252;
}


.color53{
	background-color:#b71c1c;
}


.color54{
	background-color:#b71c1c;
}


.color55{
	background-color:#ff9800;
}



.color56{
	background-color:#ff9800;
}



.color57{
	background-color:#ff7c30;
}



.color58{
	background-color:#ff7c30;
}



.color59{
	background-color:#ff7c30;
}



.color60{
	background-color:#ff5252;
}



.color61{
	background-color:#b71c1c;
}



.color62{
	background-color:#b71c1c;
}




.color63{
	background-color:#b71c1c;
}

.color64{
	background-color:#ff9800;
}

.color65{
	background-color:#ff7c30;
}

.color66{
	background-color:#ff7c30;
}

.color67{
	background-color:#ff7c30;
}

.color68{
	background-color:#ff5252;
}

.color69{
	background-color:#b71c1c;
}

.color70{
	background-color:#b71c1c;
}

.color71{
	background-color:#b71c1c;
}

.color72{
	background-color:#b71c1c;
}
