{% extends "base.html" %}
{% load static %}

{% block localcss %}
    <link href="{% static 'css/plugins/dataTables/dataTables.bootstrap.css' %}"
          rel="stylesheet"
          media="screen">
    <link href="{% static 'intelligence/css/intelligence.css' %}"
          rel="stylesheet" media="screen">
    <link href="{% static 'css/dc.css' %}" rel="stylesheet" media="screen"/>
{% endblock %}

{% block localjs %}
    <script src="{% static 'js/plugins/dataTables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/plugins/dataTables/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'js/d3.js' %}"></script>
    <script src="{% static 'js/crossfilter.js' %}"></script>
    <script src="{% static 'js/dc.js' %}"></script>
    <script src="{% static 'intelligence/js/intelligence.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            draw_cockpit_panel('{{ interval }}', '#log-cockpit-graph',
                    '{{ end_ts }}');
            draw_search_table('{{ start_ts }}', '{{ end_ts }}',
                    '#log-search-table');

        })

    </script>

{% endblock %}


{% block content %}

    <div class="row" style="height:300px">
        <!--
            <div class="col-md-2">
                <div id="search-params"
                     class="panel panel-primary search_params_panel">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-dashboard"></i>
                            Search Parameters
                        </h3>
                    </div>
                    <div id="log-search-params" class="panel-body">

                    </div>
                </div>
            </div>
            -->
        <div class="col-md-12">

            <div class="panel panel-primary intel_panel">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-dashboard"></i> <a
                            href="/intelligence/search">Log Analysis</a></h3>
                </div>
                <div class="panel-extra">
        <span class="btn-group btn-group-xs pull-right">
            <button id="log-cockpit-month-btn" type="button"
                    class="btn btn-default">Month
            </button>
            <button id="log-cockpit-day-btn" type="button"
                    class="btn btn-default">Day
            </button>
            <button id="log-cockpit-hour-btn" type="button"
                    class="btn btn-default">Hour
            </button>
        </span>
                </div>
                <div id="log-cockpit-graph" class="panel-body"
                     style="height:400px">
                    <img src="{% static 'images/ajax-loader-solinea-blue.gif' %}"
                         id="log-loading-indicator" class="ajax-loader"/>
                    <span class="reset" style="display: none;">range: <span
                            class="filter"></span></span>
                    <a class="reset"
                       href="javascript:logChart.filterAll();logChart.filterAll();dc.redrawAll();"
                       style="display: none;">reset</a>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="height:300px">
        <div id="table-col" class="col-md-12">
            <div class="panel panel-primary log_table_panel">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-dashboard"></i>
                        Search Results
                    </h3>
                </div>
                <div id="intel-search-data-table" class="panel-body">
                    <table id="log-search-table" class="table table-hover">
                        <!-- table rows filled by draw_search_table -->
                        <thead>
                        <tr class="header">
                            <th>Timestamp</th>
                            <th>Level</th>
                            <th>Component</th>
                            <th>Host</th>
                            <th>Message</th>
                            <th>Log Location</th>
                            <th>Process ID</th>
                            <th>Source</th>
                            <th>Request ID</th>
                            <th>Log Type</th>
                            <th>Processed At</th>
                        </tr>
                        </thead>
                    </table>
                    <img src="{% static 'images/ajax-loader-solinea-blue.gif' %}"
                         id="log-table-loading-indicator" class="ajax-loader"/>
                </div>
            </div>
        </div>
    </div>

{% endblock %}






