path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

/* Datatable font sizes */
#log-search-table th {
    font-size: 10px;
}
#log-search-table td {
    font-size: 10px;
}

/* Datatable font sizes */
.table-hover th {
    font-size: 10px;
}
.table-hover td {
    font-size: 10px;
}

/* form element sizing for inline form */
.form-inline * {
    font-size: 10px;
}

/* some basic chart colorings based on spectral colors */
g.stack._0  > rect.bar {
    stroke: none;
    fill: #5e4fa2;
}

g.stack._1  > rect.bar {
    stroke: none;
    fill: #3288bd;
}

g.dc-legend-item:nth-child(1) > rect:nth-child(1) {
    stroke: none;
    fill: #5e4fa2;
}

g.dc-legend-item:nth-child(2) > rect:nth-child(1) {
    stroke: none;
    fill: #3288bd;
}

/* overrides for loglevel chart */
#bad-event-chart g.stack._0  > rect.bar {
    stroke: none;
    fill: #fecc5c;
}

#bad-event-chart g.stack._1 > rect.bar {
    stroke: none;
    fill: #f03b20;
}

#bad-event-chart g.stack._2 > rect.bar {
    stroke: none;
    fill: #bd0026;
}

#bad-event-chart g.dc-legend-item:nth-child(1) > rect:nth-child(1) {
    stroke: none;
    fill: #fecc5c;
}

#bad-event-chart g.dc-legend-item:nth-child(2) > rect:nth-child(1) {
    stroke: none;
    fill: #f03b20;
}

#bad-event-chart g.dc-legend-item:nth-child(3) > rect:nth-child(1) {
    stroke: none;
    fill: #bd0026;
}