path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

/* Datatable font sizes */
#log-search-table th {
    font-size: 10px;
}
#log-search-table td {
    font-size: 11px;
}
